.verify {
  min-height: 60vh;
  display: grid;
}
.verify .circle{
    width: 90px;
    height: 90px;
    place-self: center;
    /* border:4px solid #bdbdbd; */
    border:4px solid white;
    border-top-color: black;
    border-radius: 50%;
    animation: rotate 1s infinite;
}

@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }
}