.footer{
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 80px;
    margin-top: 70px;
    border-radius: 5px;
}
.footer-content{
    width: 100%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 30px;
}
.left,.center,.right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.left li,.center li,.right li{
    list-style: none;
    padding-top: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s;
}
.left li,.center li:hover,.right li:hover{
    transform: scale(1.01);
    text-shadow: 0px 0px 10px white;
}
.center h2,.right h2{
    color: rgb(165, 161, 161);
}
.icons img{
    /* width: 40px; */
    margin-right: 10px;
    cursor: pointer;
}
.footer hr{
    width: 100%;
    height: 1px;
    margin: 40px 0px;
    background-color: white;
    border: none;
}
@media (max-width: 1050px) {
  .footer-content {
    grid-template-columns: 1.5fr 1fr 1fr;
    gap: 25px;
  }
  .left li, .center li, .right li {
    font-size: 17px;
  }
}

@media (max-width: 900px) {
  .footer {
    padding: 20px 50px;
  }
  .footer-content {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  .left p {
    display: none;
  }
  .left li, .center li ,.right li {
    font-size: 16px;
  }
}

@media (max-width: 700px) {
  .footer {
    padding: 20px 30px;
  }
  .footer-content {
    grid-template-columns: 1fr;
    gap: 15px;
  }
  .left, .center, .right {
    align-items: center;
    text-align: center;
  }
  .left li, .center li .right li {
    font-size: 15px;
  }
}

@media (max-width: 600px) {
  .footer {
    padding: 20px 20px;
  }
  .footer-content {
    gap: 12px;
  }
  .left li, .center li, .right li {
    font-size: 14px;
  }
  .icons img {
    width: 30px;
  }
}
